<div class="container" >
  <div class= "row">
    <div style="height:60vh; margin-top:10vh;"class="col-sm-6">
<h1 style="font-family: 'Lobster', cursive;"><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose|  %>
        <p > <%= dose.description %> of <%= dose.ingredient.name %></p>
        <% end %>
<%= link_to 'add a new dose', new_cocktail_dose_path(@cocktail.id) %>
<p><%= link_to  cocktails_path do %></p>
<i class="fas fa-home"></i>
<% end %>
</div>
</div>
</div>
