<div class="container" >
  <div class= "row">
    <div style="height:60vh; margin-top:10vh;"class="col-sm-6">
      <%= simple_form_for [@cocktail, @dose]  do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "add a dose", class: "btn btn-primary" %>
      <% end %>
      <p><%= link_to  cocktails_path do %></p>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
  </div>
</div>
